.container {
  padding: 0 2rem;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.main {
  min-height: 90vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.blogpost{
 display: block;
 margin: auto;
}

.title {
  margin: 0;
  font-size: 3rem;
  color: blue;
}
.subtitle {
  margin: 0;
  font-size: 2rem;
  color:crimson;
}
.title,
.description {
  text-align: center;
}
.description {
  margin: 1rem 0;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.mainnav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainnav ul li {
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
  color: crimson;

}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}